<!DOCTYPE html>
<html>
    <head>
        <title>Edit Product</title>
    </head>
    <body>
        <h1>Edit Product</h1>
        <form action="/products/<%=product.id%>?_method=PUT" method="POST">
            <label for="name">Product Name:</label>
            <input type="text" name="name" placeholder="product name" value="<%=product.name%>">
            <br><br>
            <label for="price">Price:</label>
            <input type="number" name="price" placeholder="price" value="<%=product.price%>">
            <br><br>
            <label for="category">Select Category:</label>
            <select name="category" id="">
                <% for(let category of categories) { %>
                    <option value="<%=category%>" <%= product.category === category ? 'selected' : ''%>><%=category%></option>
                <% } %>
                <!-- <option value="fruit" <%=product.category === 'fruit' ? 'selected' : ''%>>fruit</option>
                <option value="vegetable" <%=product.category === 'vegetable' ? 'selected' : ''%>>vegetable</option>
                <option value="dairy" <%=product.category === 'dairy' ? 'selected' : ''%>>dairy</option> -->
            </select>
            <br><br>
            <button>submit</button>
        </form>
    </body>
</html>